.recent {
    margin-top: 140px;

    &__title {
        font-family: 'Source Sans Pro';
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 3.6px;
        text-align: center;
        text-transform: uppercase;
        color: $gray-title;
    }

    &__text {
        margin: 20px 0;
        font-size: 14px;
        line-height: 29px;
        text-align: center;
        color: $gray-text;
    }

    &__divider {
        @include divider($gray-text);
    }

    &__links {
        margin: 40px 0;
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin: 5px 0;

        &::after {
            content: '/';
            margin-left: 20px;
            margin-right: 20px;
            color: $gray-text;
        }

        &:last-child::after {
            content: '';
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        color: $gray-text;
        transition: color .5s;

        &:hover {
            color: $red;
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto 0;
        max-width: 1920px;
    }

    &__element {
        flex-basis: 25%;
        position: relative;

        &-link {
            display: block;
            text-decoration: none;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(231, 76, 60, .8);
                opacity: 0;
                transition: opacity .5s;
            }

            &:hover {

                &::after,
                .recent__element-info {
                    opacity: 1;
                }
            }
        }

        &-img {
            display: block;
            max-width: 100%;
        }

        &-info {
            position: absolute;
            left: 10%;
            bottom: 35px;
            z-index: 1;
            color: $white;
            opacity: 0;
            transition: opacity .5s;

            &::before {
                content: '';
                display: block;
                margin-bottom: 25px;
                width: 44px;
                height: 4px;
                background-color: $white;
            }
        }

        &-name {
            display: block;
            margin: 15px 0;
            font-family: 'Source Sans Pro';
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1.2px;
            text-transform: uppercase;
        }

        &-category {
            display: block;
            margin: 15px 0;
            font-size: 14px;
            letter-spacing: 0.7px;
        }
    }
}

@media (max-width: 980px) {

    .recent {
        margin-top: 50px;

        &__element {

            &__info {
                bottom: 10px;
            }

            &__name {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {

    .recent {

        &__element {
            flex-basis: 50%;
        }
    }
}

@media (max-width: 480px) {

    .recent {

        &__element {
            flex-basis: 100%;
        }
    }
}