.services {
    position: relative;
    margin: 140px auto;
    padding: 150px 0;
    background-color: $dark-bg;
    max-width: 1920px;

    &::after {
        content: '';
        width: 46%;
        height: 100%;
        display: block;
        background: url('../img/services-bg.webp') right top no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__inner {
        width: 54%;
        text-align: right;
    }

    &__header {
        margin-right: 80px;
        margin-bottom: 30px;
        padding-right: 25px;
        border-right: 6px solid $red;
        font-family: 'Source Sans Pro';
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        color: $white-gray;
        letter-spacing: 3.6px;
        text-transform: uppercase;
    }

    &__list {
        margin-bottom: -55px;
    }

    &__item {
        margin: 55px 80px 55px auto;
        max-width: 665px;
        position: relative;
    }

    &__title {
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 600;
        line-height: 29px;
        color: $red;
        text-transform: uppercase;
    }

    &__text {
        font-family: 'Source Sans Pro';
        font-size: 14px;
        line-height: 29px;
        color: $gray-text;
    }

    &__icon {
        width: 64px;
        height: 64px;
        border: 5px solid rgba(0, 0, 0, .15);
        border-radius: 50%;
        background-color: $white-gray;
        position: absolute;
        right: -117px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
    }

    &__img {
        fill: $red;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &--img1 {
            width: 27px;
            height: 27px;
        }

        &--img2 {
            width: 35px;
            height: 29px;
        }

        &--img3 {
            width: 35px;
            height: 30px;
        }
    }
}

@media (max-width: 980px) {

    .services {
        margin: 50px auto;
        padding: 50px 0;
    }
}

@media (max-width: 768px) {

    .services {
        padding-left: 15px;
        padding-right: 15px;

        &::after {
            display: none;
        }

        &__inner {
            width: 100%;
            text-align: left;
        }

        &__header {
            padding-right: 0;
            border-right: none;
            padding-left: 25px;
            border-left: 6px solid $red;
        }

        &__item {
            max-width: 100%;
            margin: 25px 0;
            padding-right: 80px;
            box-sizing: border-box;
        }

        &__icon {
            right: 0;
        }
    }
}