.socials {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &__icon {
        width: 20px;
        height: 25px;
        fill: $gray-text;

        &:hover {
            fill: $red;
        }
    }
}