$white      : #fff;
$white-gray : #f4f5f9;
$border-line: #e6e7eb;
$border-icon: #e5e5e5;
$gray-light : #cbc6c0;
$gray-text  : #999;
$gray-title : #6a6a6a;
$dark-bg    : #202020;
$black      : #000;

$red        : #e74c3c;